/* Breadcrumbs */
.breadcrumb {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 1.3rem;
    margin: 0;
    text-decoration: none;
    color: var(--gray-4);
    margin-top: 48px;
    display: inline-block;
}

.breadcrumb p:hover {
    transform: scale(1.05);
    color: var(--blue);
    transform: translateX(-1em);
    transition: ease 0.3s;
}

/* Links */


/* Search overlay */

/* Button colors */
.cta-blue {
    background: var(--blue, #2C65F4);
    color: var(--off-white);
}

.cta-blue:hover {
    background: var( --blue-hover, #497DFF);
}

.cta-purple {
    background: var(--purple, #6444DB);
    color: var(--off-white);
}

.cta-purple:hover {
    background: var(--purple-hover, #8160F8);
}

.cta-neon-green {
    background: var(--neon-green, #D9F74F);
    color: var(--blue-black);
}

.cta-neon-green:hover {
    background: var(--neon-green-hover, #E5FF6B);
}

/* Navigation hovers */
nav a.blue-hover:hover {
    color: var(--off-white);
    background-color: var(--blue);
    transition: ease color 0.3s;
}

nav a.neon-green-hover:hover {
    color: var(--blue-black);
    background-color: var(--neon-green);
    transition: ease color 0.3s;
}

nav a.purple-hover:hover {
    color: var(--off-white);
    background-color: var(--purple);
    transition: ease color 0.3s;
}

nav a.blue-black-hover:hover {
    color: var(--off-white);
    background-color: var(--blue-black);
    transition: ease color 0.3s;
}

nav a.blue-hover:hover .mobile-icon,
nav a.purple-hover:hover .mobile-icon,
nav a.blue-black-hover:hover .mobile-icon {
    color: var(--off-white);
}

/* Navigation active */
nav a.blue-hover.active {
    color: var(--off-white);
    background-color: var(--blue);
}

nav a.neon-green-hover.active {
    color: var(--blue-black);
    background-color: var(--neon-green);
}

nav a.purple-hover.active {
    color: var(--off-white);
    background-color: var(--purple);
}

nav a.blue-black-hover.active {
    color: var(--off-white);
    background-color: var(--blue-black);
}

nav a.blue-hover.active .mobile-icon,
nav a.purple-hover.active .mobile-icon,
nav a.blue-black-hover.active .mobile-icon {
    color: var(--off-white);
}

/* Footer */
footer a {
    color: var(--blue-black);
    text-decoration-thickness: 2px;
    text-underline-offset: 25%;
}

footer a:hover {
    color: var(--blue);
    text-shadow: 0 0 1px currentColor;
    text-decoration-thickness: 3px;
    transition: color text-decoration 0.5s;
}

/* Buttons */
.cta-l {
    border-radius: 36px;
    padding: 14px 38px;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    border: none;
}

.cta-l:hover {
    box-shadow: 0px 10px 0px 0px #0B1427;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1200px) {
    .cta-l {
        padding: 18px 48px;
        font-size: 1.3rem;
        transition: all 0.5s;
    }
}