/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #0B1427;
  --color-secondary: #F6F5F2;

  /* colors */
  /* primary */
  --blue: #2C65F4;
  --neon-green: #D9F74F;
  --purple: #6444DB;
  --blue-black: #0B1427;
  --off-white: #F6F5F2;

  /* secondary */
  --dark-blue: #003480;
  --dark-purple: #2F237A;
  --red: #ce2b2b;
  --yellow: #ffc219;
  --green: #38B349;

  /* hovers */
  --blue-hover: #497DFF;
  --neon-green-hover: #E5FF6B;
  --purple-hover: #8160F8;

  /* grayscales/shades */
  --gray-5: #101010;
  --gray-4: #595D62;
  --gray-3: #969696;
  --gray-2: #dedede;
  --gray-1: #f5f5f5;
  --white: #fff;

  /* body */
  --padding-x: 120px;
  --ipad-padding-x: 80px;
  --mobile-padding-x: 40px;

  /* icons */
  --icon-blue: var(--blue, #2C65F4);
  --icon-neon-green: var(--neon-green, #D9F74F);
  --icon-purple: var(--purple, #6444DB);
  --icon-blue-black: var(--blue-black, #0B1427);
  --icon-off-white: var(--off-white, #F6F5F2);
}

/* Fonts */
body {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}input.search::placeholder {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
nav a {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Coming soon */
.body-text {
  font-size: 1.125rem;
}

.polaroid-text {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Form */
form.contact-form label {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* https://stackoverflow.com/questions/14524328/changing-font-family-for-placeholder */

.input-style::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-size: 1rem;
  opacity: 1; /* Firefox */
}

.input-style:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-size: 1rem;
}

.input-style::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-size: 1rem;
}

.input-style::-moz-placeholder {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-size: 1rem;
}

/* FAQ */
.faq-number {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Join the team */
.scroll-text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Navigation */
input.search::placeholder {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Buttons */
.cta-l {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

div.button-padding {
  padding-bottom: 56px;
}

/* Footer */
footer h2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--purple);
  font-size: 1.25rem;
}

/* Colors */
.color-blue {
  color: var(--blue);
}

.color-purple {
  color: var(--purple);
}

.color-neon-green {
  color: var(--neon-green);
}

.color-dark-blue {
  color: var(--dark-blue);
}

.bg-neon-green {
  background: var(--neon-green);
  color: var(--blue-black);
}

.bg-purple {
  background: var(--purple);
  color: var(--off-white);
}

.bg-blue {
  background: var(--blue);
  color: var(--off-white);
}

.bg-dark-blue {
  background: var(--dark-blue);
  color: var(--off-white);
}

.icon-blue {
  color: var(--blue);
}

.icon-purple {
  color: var(--purple);
}
