/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #0B1427;
  --color-secondary: #F6F5F2;

  /* colors */
  /* primary */
  --blue: #2C65F4;
  --neon-green: #D9F74F;
  --purple: #6444DB;
  --blue-black: #0B1427;
  --off-white: #F6F5F2;

  /* secondary */
  --dark-blue: #003480;
  --dark-purple: #2F237A;
  --red: #ce2b2b;
  --yellow: #ffc219;
  --green: #38B349;

  /* hovers */
  --blue-hover: #497DFF;
  --neon-green-hover: #E5FF6B;
  --purple-hover: #8160F8;

  /* grayscales/shades */
  --gray-5: #101010;
  --gray-4: #595D62;
  --gray-3: #969696;
  --gray-2: #dedede;
  --gray-1: #f5f5f5;
  --white: #fff;

  /* body */
  --padding-x: 120px;
  --ipad-padding-x: 80px;
  --mobile-padding-x: 40px;
}

/* Fonts */
body {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}input.search::placeholder {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
nav a {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Navigation */
input.search::placeholder {
  font-family: "new-science", Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Buttons */
.cta-l {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Footer */
footer h4 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--purple);
  font-size: 1.25rem;
}

/* Colors */
.color-blue {
  color: var(--blue);
}

.color-purple {
  color: var(--purple);
}

.bg-neon-green {
  background: var(--neon-green);
  color: var(--blue-black);
}

.bg-purple {
  background: var(--purple);
  color: var(--off-white);
}

.bg-blue {
  background: var(--blue);
  color: var(--off-white);
}

.bg-dark-blue {
  background: var(--dark-blue);
  color: var(--off-white);
}