/* Hero section */
.hero-padding {
    padding-bottom: 40px;
}

.explore-for {
    display: flex;
    flex-direction: column;
}

.explore-targets {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.explore-target-info {
    width: 100%;
    max-width: 500px;
}

/* Evolution - exibition */
.secondary-card {
    display: flex;
    padding: 24px 24px 36px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border: 2px solid var(--Primary-Blue-Black, #0B1427);
    box-shadow: 8px 8px 0px 0px #000;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding-top: 32px;
    padding-bottom: 80px;
}

.evolution-icon {
    width: auto;
    height: 120px;
}

/* Interactive dig zone */
.dig-zone-flex {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 0 56px 0;
}

.fossil-dig-zone {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}

.fossil-img-1,
.fossil-img-2 {
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
}

.fossil-img-1 {
    border: 2px solid var(--blue-black);
}

.fossil-img-2 {
    border-left: 2px solid var(--blue-black);
    border-right: 2px solid var(--blue-black);
    border-bottom: 2px solid var(--blue-black);
    border-top: 0;
}


/* Polaroid */
.polaroid,
.polaroid-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--blue-black);
    background: var(--off-white, #F6F5F2);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.polaroid{
    padding: 16px 16px 80px 16px;
}

.polaroid-with-text {
    padding: 16px 16px 32px 16px;
}

.polaroid-img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid var(--blue-black);
    object-fit: cover;
}

.polaroid-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 48px;
}

.polaroid-border {
    border-top: 2px solid var(--blue-black);
}