/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
}

.hero-info {
    padding: 56px 0;
}

.hero-image {
    aspect-ratio: 1/1;
    margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
    width: 100vw;
    display: block;
    height: 100%;
}

/* Card */
.card-flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 96px;
}

.explore-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.card {
    display: flex;
    padding: 24px 24px 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border: 2px solid var(--Primary-Blue-Black, #0B1427);
    box-shadow: 8px 8px 0px 0px #000;
}

.card p {
    font-size: 1.125rem;
}

.explore-icon {
    width: auto;
    height: 64px;
}

/* Image layout */
.img-zigzag-layout {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

span.bold-text {
    font-weight: 700;
    color: var(--blue);
}

.zigzag-flex {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: auto;
}

.zigzag-flex .zigzag-img-container:nth-child(even) {
    align-self: flex-end;
}

.zigzag-img {
    aspect-ratio: 1/1;
    width: 100%;
    border: 2px solid var(--blue-black, #0B1427);
}

.zigzag-img-container {
    flex: 1;
    width: 80%;
    position: relative;
}

.box-shadow {
    border: 2px solid var(--blue-black, #0B1427);
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
    margin: 0;
    translate: 5% 5%;
}

/* Split sections */
.split-section,
.split-section-reverse {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 40px 0;
}

.split-section {
    flex-direction: column;
}

.split-section-reverse {
    flex-direction: column-reverse;
}

.split-image {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 1/1;
    flex: 1;
    object-fit: cover;
    border: 2px solid var(--Primary-Blue-Black, #0B1427);
    flex-shrink: 0;
}

.split-info {
    flex: 1;
}

/* Events */
.event-section{
    margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
}

.event-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    column-gap: 24px;
    padding-bottom: 40px;
}

.event-card {
    overflow: hidden;
    height: 100%;
}

.event-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border: 2px solid var(--Primary-Blue-Black, #0B1427);
    border-bottom: none;
  }

.event-grid a {
    text-decoration: none;
  }

.event-card-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    flex: 1;
    border: 2px solid var(--Primary-Blue-Black, #0B1427);
    background: var(--neon-green);
}

.event-card-info h3,
.event-card-info p {
    color: var(--blue-black);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/line-clamp */
.event-card-info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}