/* Tablet */
@media (min-width: 940px) {
    .container  {
        padding: 0 var(--ipad-padding-x, 80px);
    }

    /* Navigation */
    header {
        align-items: flex-end;
        margin: 16px;
    }

    nav {
        display: block;
        position: static;
        width: auto;
        height: auto;
    }

    .hamburger-icon {
        display: none;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 16px;
    }

    nav a {
        display: inline-block;
        padding: 8px;
        text-decoration: none;
        font-size: 1rem;
        color: var(--blue-black), #0B1427;
    }

    .mobile-icon {
        display: none;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Now only 2 columns */
        grid-template-rows: auto auto auto;
    }

    .logo-area {
        grid-column: 1 / 3;
    }

    .info-area {
        grid-column: 1;
    }

    .list-area {
        grid-column: 2;
    }

    .copyright-area {
        grid-column: 1 / -1;
    }

    footer ul,
    .info-area.footer-info {
        width: 80%;
    }

    /* Footer borders */
    .logo-area {
        padding-bottom: 32px;
        padding-top: 18px;
    }

    .info-area,
    .list-area,
    .copyright-area {
        padding-bottom: 56px;
        padding-top: 56px;
    }

    .info-area {
        border-right: 2px solid var(--blue-black);
    }
    
}
  
/* Desktop */
@media (min-width: 1200px) {
    .container {
        padding: 0 var(--padding-x, 120px);
    }

    /* Footer */
    /* Footer borders */    
    .logo-area {
        padding-bottom: 40px;
        padding-top: 24px;
    }

    .info-area,
    .list-area,
    .copyright-area {
        padding-bottom: 64px;
        padding-top: 64px;
    }
}

@media (min-width: 1600px) {
    .info-area.container {
        padding-left: 0 var(--padding-x, 120px);
        padding-right: 0 var(--padding-x, 120px);
    }

    .info-area .footer-info {
        padding: 0px 50px;
    }

    .list-area.container {
        padding-left: 0 var(--padding-x, 120px);
    }

    .list-area .padding-footer {
        padding-left: 72px;
    }


    /* Footer */
    footer {
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: auto auto;
    }

    .logo-area {
        grid-column: 1;
    }

    .info-area {
        grid-column: 2;
    }

    .list-area {
        grid-column: 3;
        flex-direction: row; /* switch lists to row layout on desktop */
        justify-content: space-between;
    }

    .copyright-area,
    .copyright-area ul {
        flex-direction: row;
        gap: 32px;
    }

    footer ul,
    .info-area.footer-info {
        width: 100%;
    }

    /* Footer borders */
    .logo-area {
        padding-bottom: 24px;
        padding-top: 40px;
    }

    .info-area,
    .list-area {
        border-top: none;
        padding-top: 132px;
        padding-bottom: 80px;
    }

   .copyright-area {
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .logo-area {
        border-right: 2px solid var(--blue-black);
    }
}