/* Tablet */
@media (min-width: 940px) {
    .container  {
        padding: 0 var(--ipad-padding-x, 80px);
    }

    .section-margin {
        margin: 64px 0;
    }

    hr {
        margin: 0 calc(var(--ipad-padding-x, 80px) *-1);
    }

    /* Navigation */
    header {
        align-items: flex-end;
        margin: 16px;
    }

    nav {
        display: block;
        position: static;
        width: auto;
        height: auto;
    }

    nav,
    .logo {
        margin-bottom: 18px;
    }

    .hamburger-icon {
        display: none;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 16px;
    }

    nav a {
        padding: 8px;
        text-decoration: none;
        font-size: 1rem;
        color: var(--blue-black), #0B1427;
        border-bottom: none;
    }

    nav li {
        width: auto;
      }

    .mobile-icon {
        display: none;
    }

    .desktop-search {
        display: block;
      }

    /* Mobile search */
    .mobile-search {
        display: none;
    }

    .serch-flex {
        margin-top: auto;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Now only 2 columns */
        grid-template-rows: auto auto auto;
    }

    .logo-footer {
        width: 300px;
      }

    .logo-area {
        grid-column: 1 / 3;
    }

    .info-area {
        grid-column: 1;
    }

    .list-area {
        grid-column: 2;
    }

    .copyright-area {
        grid-column: 1 / -1;
    }

    footer ul,
    .info-area.footer-info {
        width: 80%;
    }

    /* Footer borders */
    .logo-area {
        padding-bottom: 32px;
        padding-top: 18px;
    }

    .info-area,
    .list-area,
    .copyright-area {
        padding-bottom: 56px;
        padding-top: 56px;
    }

    .info-area {
        border-right: 2px solid var(--blue-black);
    }

    /* Homepage */
    .hero {
        flex-direction: row;
        align-items: center;
    }

    .hero-image {
        margin: 0 calc(var(--ipad-padding-x, 80px) *-1) 0 0;
        width: 50vw;
    }

    .hero-image-container {
        flex: 1;
    }

    .hero-info {
        flex: 1;
    }

    /* Card */
    .explore-cards {
        width: 60%;
    }

    .explore-info {
        width: 50%;
    }

    /* Image layout */

    
}
  
/* Desktop */
@media (min-width: 1200px) {
    .container {
        padding: 0 var(--padding-x, 120px);
    }

    .section-margin {
        margin: 160px 0;
    }

    hr {
        margin: 0 calc(var(--padding-x, 120px) *-1);
    }

    /* Footer */
    footer {
        margin-top: 80px;
    }
    /* Footer borders */    
    .logo-area {
        padding-bottom: 40px;
        padding-top: 24px;
    }

    .info-area,
    .list-area,
    .copyright-area {
        padding-bottom: 64px;
        padding-top: 64px;
    }

    /* Homepage */
    .hero-image {
        margin: 0 calc(var(--padding-x, 120px) *-1) 0 0;
        max-height: 80vh;
    }

    /* Hero */
    .hero-title {
        font-size: 3rem;
        transition: ease all 0.5s;
    }

     /* Card */
     .card-flex {
        align-items: flex-start;
        flex-direction: row;
    }

}

@media (min-width: 1600px) {
    /* Footer */
    footer {
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: auto auto;
    }

    .logo-area {
        grid-column: 1;
    }

    .info-area {
        grid-column: 2;
    }

    .list-area {
        grid-column: 3;
        flex-direction: row; /* switch lists to row layout on desktop */
        justify-content: space-between;
    }

    .copyright-area,
    .copyright-area ul {
        flex-direction: row;
        gap: 32px;
    }

    footer ul,
    .info-area.footer-info {
        width: 100%;
    }

    /* Footer borders */
    .info-area.container {
        padding-left: 0 var(--padding-x, 120px);
        padding-right: 0 var(--padding-x, 120px);
    }

    .info-area .footer-info {
        padding: 0px 50px;
    }

    .list-area.container {
        padding-left: 0 var(--padding-x, 120px);
    }

    .list-area .padding-footer {
        padding-left: 72px;
    }

    .logo-area {
        padding-bottom: 24px;
        padding-top: 40px;
    }

    .info-area,
    .list-area {
        border-top: none;
        padding-top: 132px;
        padding-bottom: 80px;
    }

   .copyright-area {
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .logo-area {
        border-right: 2px solid var(--blue-black);
    }

    /* Homepage */
    /* Card */

    .explore-cards {
        width: 100%;
        flex-direction: row;
        flex: 2.5;
    }

    .explore-info {
        flex: 1;
        padding-right: 32px;
    }

}