/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import "imports/links.css";
@import "imports/forms.css";

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.container {
  margin: 0 auto;
  padding: 0 var(--mobile-padding-x, 40px);
}

img {
  width: 100%;
  object-fit: cover;
}

/* Navigation */
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: flex;
}

.hamburger-icon i.fa-xmark {
  display: none;
}

#menu-checkbox:checked + .hamburger-icon i.fa-bars {
  display: none;
}

#menu-checkbox:checked + .hamburger-icon i.fa-xmark {
  display: inline;
}

.hamburger-icon {
  cursor: pointer;
  color: var(--purple);
}

header {
  background: var(--off-white), #F6F5F2;
  color: var(--blue-black);
  min-height: 123px;
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--blue-black);
  transition: ease all 0.5s;
}

.fa-xmark {
  font-size: 2rem;
}

.logo {
  width: 216px;
  height: auto;
}

nav {
  position: absolute;
  top: 101.5%;  /* Places nav directly below header */
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--off-white);
  z-index: 100;
}

nav a {
  display: block;
  padding: 24px 35px;
  font-size: 1.25rem;
  border-bottom: 2px solid var(--blue-black);
  color: var(--blue-black);
  text-decoration: none;
}

nav ul,
footer ul {
  padding: 0;
  margin: 0;
}

nav li {
  width: 100vw;
}

nav li,
footer li {
  list-style: none;
}

.nav-icon {
  font-size: 18px;
}

.menu-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Makes the full row clickable */
}

.mobile-icon {
  height: 32px;
  width: auto;
  color: var(--blue-black);
  display: inline-block;
}

/* Mobile search */
.serch-flex {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.desktop-search {
  display: none;
}

.mobile-search {
  display: flex;
  width: 323px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--blue-black, #0B1427);
  background: var(--neon-green, #D9F74F);
  box-shadow: 8px 8px 0px 0px #0B1427;
}

input.search {
  border: none;
  background: none;
  width: 100%;
  padding: 18px 16px;
}

input.search::placeholder {
  color: var(--blue-black);
}

.search-icon {
  padding: 0;
  background: none;
  border: none;
}

.search-icon.fa-magnifying-glass {
  color: var(--blue-black);
}

.search-icon .fa-magnifying-glass:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}

input:focus {
  outline: none;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
}

footer {
  border: black;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.logo-footer {
  width: 220px;
  height: auto;
  transition: ease all 0.5s;
}

.info-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.copyright-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.copyright-area p,
.copyright-area a {
  color: var(--blue);
  font-size: 1rem;
}

footer h4,
footer p {
  margin: 0;
}

footer ul,
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-area.footer-info {
  width: 60%;
}

.no-wrap {
  white-space: nowrap
}

/* Footer borders */
.logo-area {
  width: 100%;
  padding-bottom: 32px;
  padding-top: 18px;
}

.info-area,
.list-area,
.copyright-area {
  width: 100%;
  padding-bottom: 48px;
  padding-top: 48px;
}

.info-area,
.list-area,
.copyright-area {
  border-top: 2px solid var(--blue-black);
  border-bottom: none;
  border-right: none;
  border-left: none;
}