/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.container {
  margin: 0 auto;
  padding: 0 var(--mobile-padding-x, 40px);
}

img {
  width: 100%;
  object-fit: cover;
}

/* Navigation */
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  background: var(--off-white), #F6F5F2;
  color: var(--purple);
  min-height: 123px;
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--blue-black);
  transition: ease all .5s;
}

.logo {
  width: 216px;
  height: auto;
}

nav {
  position: absolute;
  top: 100%;  /* Places nav directly below header */
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--gray-2);
  z-index: 100;
}

nav a {
  display: block;
  padding: 24px 35px;
  font-size: 1rem;
  background: var(--gray-3);
  border-bottom: 2px solid var(--blue-black);
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
}

nav ul,
footer ul {
  padding: 0;
  margin: 0;
}

nav li,
footer li {
  list-style: none;
}

.nav-icon {
  font-size: 18px;
}

.menu-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Makes the full row clickable */
}

.mobile-icon {
  font-size: 18px;     /* Optional: size your icon */
  color: var(--blue-black); /* Match your theme */
  display: inline-block;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
}

footer {
  border: black;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.logo-footer {
  width: 300px;
  height: auto;
}

/*hr.footer {
  border: none;
  border-top: 2px solid var(--blue-black);
  margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
}*/

.info-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.copyright-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.copyright-area p,
.copyright-area a {
  color: var(--blue);
  font-size: 1rem;
}

footer h4,
footer p {
  margin: 0;
}

footer a {
  color: var(--blue-black);
  text-decoration-thickness: 2px;
  text-underline-offset: 25%;
}

footer a:hover {
  color: var(--blue);
  font-weight: 700;
  text-decoration-thickness: 3px;
  transition: color text-decoration 0.5s;
}

footer ul,
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-area.footer-info {
  width: 60%;
}

.no-wrap {
  white-space: nowrap
}

/* Footer borders */
.logo-area {
  width: 100%;
  padding-bottom: 32px;
  padding-top: 18px;
}

.info-area,
.list-area,
.copyright-area {
  width: 100%;
  padding-bottom: 48px;
  padding-top: 48px;
}

.info-area,
.list-area,
.copyright-area {
  border-top: 2px solid var(--blue-black);
  border-bottom: none;
  border-right: none;
  border-left: none;
}