/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import "imports/links.css";
@import "imports/forms.css";
@import "imports/fizzik.css";

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.container {
  margin: 0 auto;
  padding: 0 var(--mobile-padding-x, 40px);
}

.section-margin {
  margin: 32px 0;
}

img {
  width: 100%;
  /*object-fit: cover;*/
}

/* Full width backgrounds */
.event-section,
.hero-bg,
.full-width-image,
.full-width-bg {
  margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
}

.full-width-image img {
  height: 100vh;
  display: block;
}

/* Section border */
hr {
  margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
  border: none;
  border-bottom: 2px solid var(--blue-black);
}

/* Hero */
.hero-title {
  font-size: 2.5rem;
}

.hero p,
.secondary-hero p,
.hero-visit-exhibit p {
  font-size: 1.5rem;
  width: 100%;
}

.hero p {
  width: 100%;
}

.secondary-hero,
.hero-visit-exhibit {
  width: 100%;
}

.secondary-hero p,
.hero-visit-exhibit p {
  margin: 0%;
  padding: 24px 0;
}

.hero-padding-alt {
  padding: 64px 0 56px 0;
}

.fullwidth-hero {
  display: none;
  object-fit: cover;
}

.hero-image-fw {
  object-fit: cover;
  max-height: 300px;
  border-bottom: 2px solid var(--blue-black, #0B1427);
  display: block;
}

.padding-top-l {
  padding-top: 40px;
}

.padding-top-m {
  padding-top: 18px;
}

/* Text */
h2 {
  font-size: 2rem;
}

.section-info {
  font-size: 1.25rem;
  margin: 12px 0 24px 0;
}

.bodytext {
  font-size: 1.125rem;
}

.no-margin {
  margin: 0;
}

h3,
.explore-target-info h2 {
  font-size: 1.75rem;
}

.center-info-m,
.center-info-l {
  text-align: center;
  width: 80%;
}

.center-title {
  text-align: center;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-padding {
  padding: 24px 0;
}

.title-padding-top {
  padding-top: 60px;
}

.index-padding-bottom {
  padding-bottom: 32px;
}

/* Navigation */
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: flex;
}

.hamburger-icon i.fa-xmark {
  display: none;
}

#menu-checkbox:checked + .hamburger-icon i.fa-bars {
  display: none;
}

#menu-checkbox:checked + .hamburger-icon i.fa-xmark {
  display: inline;
}

.hamburger-icon {
  cursor: pointer;
  color: var(--purple);
}

header {
  background: var(--off-white), #F6F5F2;
  color: var(--blue-black);
  min-height: 123px;
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--blue-black);
  transition: ease all 0.5s;
}

.fa-xmark {
  font-size: 2rem;
}

.logo {
  width: 216px;
  height: auto;
}

nav {
  position: absolute;
  top: 101.5%;  /* Places nav directly below header */
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--off-white);
  z-index: 100;
}

nav a {
  display: block;
  padding: 24px 35px;
  font-size: 1.25rem;
  border-bottom: 2px solid var(--blue-black);
  color: var(--blue-black);
  text-decoration: none;
}

nav ul,
footer ul {
  padding: 0;
  margin: 0;
}

nav li {
  width: 100vw;
}

nav li,
footer li {
  list-style: none;
}

.nav-icon {
  font-size: 18px;
}

.menu-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Makes the full row clickable */
}

.mobile-icon {
  height: 32px;
  width: auto;
  color: var(--blue-black);
  display: inline-block;
}

/* Code from: https://webaim.org/techniques/css/invisiblecontent/ */
span .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

/* Mobile search */
.serch-flex {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.desktop-search {
  display: none;
}

.mobile-search {
  display: flex;
  width: 323px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--blue-black, #0B1427);
  background: var(--neon-green, #D9F74F);
  box-shadow: 8px 8px 0px 0px #0B1427;
}

input.search {
  border: none;
  background: none;
  width: 100%;
  padding: 18px 16px;
}

input.search::placeholder {
  color: var(--blue-black);
}

.search-icon {
  padding: 0;
  background: none;
  border: none;
}

.search-icon.fa-magnifying-glass {
  color: var(--blue-black);
}

.search-icon .fa-magnifying-glass:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}

input:focus {
  outline: none;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  border: black;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.logo-footer {
  width: 220px;
  height: auto;
  transition: ease all 0.5s;
}

.info-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.copyright-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.copyright-area p,
.copyright-area a {
  color: var(--blue);
  font-size: 1rem;
}

footer h2,
footer p {
  margin: 0;
}

footer ul,
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-area.footer-info {
  width: 60%;
}

.no-wrap {
  white-space: nowrap
}

/* Footer borders */
.logo-area {
  width: 100%;
  padding-bottom: 32px;
  padding-top: 18px;
}

.info-area,
.list-area,
.copyright-area {
  width: 100%;
  padding-bottom: 48px;
  padding-top: 48px;
}

.info-area,
.list-area,
.copyright-area {
  border-top: 2px solid var(--blue-black);
  border-bottom: none;
  border-right: none;
  border-left: none;
}

/* Event */
.event-img img{
  filter: opacity(60%);
  object-fit: cover;
}

/* Coming soon */
.coming-soon {
  display: flex;
  justify-content: center;
}

.polaroid-text {
  font-size: 2rem;
  margin-top: 24px;
  margin-bottom: 0;
  text-underline-offset: 6px;
  color: var(--blue);
}

.polaroid-text:hover {
  transform: scale(1.2);
  transition: all ease 0.5;
}


