/* About us */

/* Contact */
.contact-alt {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.contact-info,
.contact-info-secondary {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.send-message,
.send-mail-mobile,
.send-mail-desktop {
    max-width: 495px;
}

.send-mail-mobile{
    display: inline-block;
}

.send-mail-desktop {
    display: none;
}

/*.send-mail{
    height: auto;
    max-width: 420px;
}*/

/* FAQ */
.faq-number {
    display: flex;
    width: 54px;
    height: 54px;
    aspect-ratio: 1/1;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue-black);
}

.faq-number p {
    font-size: 2rem;
}

.faq-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-columns,
.faq-left,
.faq-right {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

/* Map */
.i-frame {
    height: 600px;
}