/* About us */
/* Contact */
.contact-alt {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-bottom: 40px;
}

.contact-info,
.contact-info-secondary {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.send-message,
.send-mail-mobile,
.send-mail-desktop {
    max-width: 495px;
}

.send-mail-mobile{
    display: inline-block;
}

.send-mail-desktop {
    display: none;
}

/* FAQ */
.faq-number {
    display: flex;
    width: 54px;
    height: 54px;
    aspect-ratio: 1/1;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue-black);
}

.faq-number p {
    font-size: 2rem;
}

.faq-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-columns,
.faq-left,
.faq-right {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.faq-columns {
    padding-bottom: 80px;
}

.opening-hours {
    margin: 20px 0;
}

.opening-hours p {
    margin: 0;
}

/* Map */
.i-frame {
    height: 600px;
}

/* Join the team */
/* Scroll banner */
/* Code from https://www.youtube.com/watch?v=bd9MLIb3DCg&t=55s */
.scroll-banner {
    border-top: 2px solid var(--blue-black);
    display: flex;
    user-select: none;
}

.scroll-banner ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    animation: scroll 16s linear infinite;
}

@keyframes scroll {
    to {
      transform: translateX(-100%);
    }
}

.scroll-item {
    display: flex;
    gap: 40px;
    align-items: center;
}

.scroll-text {
    font-size: 1.625rem;
}

.icon-right {
    height: 30px;
    width: auto;
}

/* Involvement information */
.involvement-section,
.involvement-section-reverse {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.involvement-section  {
    flex-direction: column;
}

.involvement-section-reverse {
    flex-direction: column-reverse;
}

.involvement-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px 56px;
    flex: 1;
    height: 100%;
}

.involvement-type p {
    margin-top: 24px;
    margin-bottom: 0;
}

.involvement-img {
    flex: 1;
    object-fit: cover;
    flex-shrink: 0;
    aspect-ratio: 3/2;
}

.involvement-section img,
.involvement-section-reverse img {
    border-bottom: 2px solid var(--blue-black);
}

/* Visit */
.visit-info-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 56px;
    width: 100%;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.visit-titles {
    font-size: 1.75rem;
}

/* Page split */
.split-layout {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: auto;
}

.main-content {
    grid-column: 1 / -1;
}

.side-content {
    grid-column: 1 / -1;
}

.side-content-right {
    margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
    padding: 0 var(--mobile-padding-x, 40px);
}
.side-content-left {
    margin: 0 calc(var(--mobile-padding-x, 40px) *-1);
    padding: 0 var(--mobile-padding-x, 40px);
}

.side-content-padding {
    padding: 0 calc(var(--mobile-padding-x, 40px));
    padding-bottom: 56px;
    padding-top: 56px;
}

.side-content-padding-r {
    padding-right: 50px;
}

/* Opening hours */
.opening-title {
    font-size: 2rem;
}

.opening-time {
    max-width: 543px;
    margin-bottom: 72px;
}

.opening-info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 8px;
}

.opening-days,
.opening-hours {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1.25rem;
}

.opening-hours li strong {
    font-weight: 700;
}
