.padding-card-container {
    padding-top: 48px;
    padding-bottom: 48px;
}

.card-grid-customerservice {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.secondary-card {
    display: flex;
    padding: 24px 24px 36px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border: 2px solid var(--Primary-Blue-Black, #0B1427);
    box-shadow: 8px 8px 0px 0px #0B1427;
}